html{
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}

body {
  font-family: monospace;
}
body a{
  white-space: normal;
  overflow-wrap: break-word;
}
body p{
  white-space: normal;
  word-break: normal;
}


.project-details{
  margin: 16px 0;
}
.project-details img{
  width: 250px;
}


/*
 *      Auto Scroll
 */
.auto-scroll-container {
    overflow: hidden;
    white-space: nowrap;
}

.auto-scroll-container .auto-scroll-content {
    position: relative
}


/*
 *      Main Block
 */
.main-block{
  max-width: 1000px;
  flex: 1 1 100%; 
  position: relative; 
  inset: 0; 
  padding: 10px; 
  margin: 0 10%; 
  overflow: auto;
}
.main-block::before {
    --solid-x: 350px;
    --solid-y: 350px;
    --border-style: solid;
    --highlight-color: grey;
    --global-border-gap: 5px;
    --global-border-width: 3px;
    /*#9ba2b8;*/

    content: "";
    position: absolute;
    inset: 0;
    border: var(--global-border-width) var(--highlight-color) var(--border-style);
    /*background-image: linear-gradient(in hsl to bottom right, magenta 5%, cyan, magenta 95%);*/
    
    clip-path: border-box polygon(0 0, 0 100%, var(--global-border-width) var(--solid-y), var(--global-border-width) var(--global-border-width),
      var(--solid-x) var(--global-border-width), 100% 0,
      calc(100% - var(--global-border-width)) calc(100% - var(--solid-y)), calc(100% - var(--global-border-width)) calc(100% - var(--global-border-width)),
      calc(100% - var(--solid-x)) calc(100% - var(--global-border-width)), 0 100%, 100% 100%, 100% 0);
}
@media only screen and (max-width: 500px) {
  .main-block {
    margin: 0 20px;
  }
}

.main-content{
    background-color: #e3e4ece7; 
    box-shadow: #e3e4ece7 0 0 3px 3px; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    position: relative; 
    top: 0;
}

.main-content h2, .main-content h3{
  font-weight: normal;
  margin: 16px 5px;
  border: none;
  border-bottom: 2px solid grey;
  border-image: linear-gradient(90deg, grey, transparent 90%) 1;
} 

@keyframes slide-left-in {
  from { 
    transform: translateX(-100%) scaleY(0);
  }
  to { 
    transform: translateX(0) scaleY(1); 
  }
}
.animate-slide-left-in {
  animation: slide-left-in 0.5s both ease-out;
}

@keyframes slide-left-out {
  from { 
    transform: translateX(0) scaleY(1);
  }
  to { 
    transform: translateX(-100%) scaleY(0); 
  }
}
.animate-slide-left-out {
  animation: slide-left-out 0.5s both ease-out; 
}

@keyframes slide-right-in {
  from { 
    transform: translateX(100%) scaleY(0);
  }
  to { 
    transform: translateX(0) scaleY(1); 
  }
}
.animate-slide-right-in {
  animation: slide-right-in 0.5s both ease-out;
}

@keyframes slide-right-out {
  from { 
    transform: translateX(0) scaleY(1);
  }
  to { 
    transform: translateX(100%) scaleY(0); 
  }
}
.animate-slide-right-out {
  animation: slide-right-out 0.5s both ease-out;
}


.button{
  font-size: 1rem;
  font-family: monospace;
  width: 10ch;
  padding: 2px;
}


.noise{
  filter: url("#noiseFilter");
  mix-blend-mode:soft-light;
}


.gradient-bg{
  background:
    radial-gradient(140% 110% at 60% 80%, 
      transparent 49%, 
      rgba(255, 255, 255, 0.6) 49.7%, transparent 49.8%, 
      rgba(255, 255, 255, 0.9) 50.5%, transparent 50.9%,
      rgba(255, 255, 255, 0.4) 51.5%, transparent 53.9%,
      rgba(255, 255, 255, 0.7) 54.5%, transparent 55.4%,
      transparent 56%),
    radial-gradient(80% 10% at 5% 0%, moccasin, transparent 100%),
    linear-gradient(in hsl 180deg, pink 60%, plum 95%, lavender 120%);
}
.gradient-bg-lower{
  background:linear-gradient(in hsl 180deg, plum -5%, lavender 20%);
}


#filters{
  display: none;
}
@-moz-document url-prefix() {
  #filters{
    display: block;
    position: absolute;
    height: 0;
  }
}


.cloud::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -400px;
  left: -400px;
  border-radius: 50%;
  filter: url(#cloud-filter);
  box-shadow: 
    380px 500px 60px -100px rgba(0, 0, 0, 0.05),
    400px 425px 60px -20px rgba(255, 240, 245, 0.863),
    420px 400px 90px 0px rgba(25, 25, 112, 0.185);
}


:root {
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}

.crt3{
  filter: saturate(150%);
}
.crt3::before{
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: 
  repeating-linear-gradient(0deg,
    var(--crt-red) 0px,
    var(--crt-green) 2px,
    var(--crt-blue) 4px,
  rgba(0, 0, 0, 0.25) 6px);
}
.crt3::after{
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: 
  repeating-linear-gradient(-90deg,
    var(--crt-red) 1px,
    var(--crt-green) 2px,
    var(--crt-blue) 3px,
  rgba(0, 0, 0, 0.25) 4px);
}


