.category-dropdown {
    padding: 0 2ch 2ch 2ch;
    background-color: rgba(255, 255, 255, 0.05);
}
@media screen and (max-width: 520px){
    .category-dropdown{
        padding: 0 10px 10px 10px;
    }
}

.category-dropdown .header{
    display:      inline-block;
    font-size:    large;
    transition: color 0.2s, text-shadow 0.2s;
}
.category-dropdown .header:hover {
    color: lightcyan;
    text-shadow: 0 0 4px cyan;
    cursor: pointer;
}
  
.category-dropdown .title,
.category-dropdown .toggle {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0 10px 0;
}
.category-dropdown .toggle {
    padding-right: 5px;
    font-family: "Lucida Console", monospace;
}

.category-dropdown .body{
    overflow: hidden;
    height:   fit-content;
}
.category-dropdown .body.folded{
    height: 0;
}

.category-dropdown .project-list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 0;
}

.category-dropdown .project-list li{
    margin-top: 20PX;
}
.category-dropdown .project-list li:first-child{
    margin-top: 0PX;
}