html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;  
}
body{
    background-color:rgb(54, 54, 54);
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color:rgb(54, 54, 54);
    background-image: linear-gradient(50deg, darkviolet 20%, slategrey 45%, slategrey 55%, DarkTurquoise 80%); 
}
span.ripple {
    position: fixed;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 650ms ease-out;
    background-color: rgba(255, 255, 255, 0.5);
}
@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}
#mouse-tracker{
    position: fixed;
    width: 40vw;
    height: 40vw;
    top: 0px;
    left: 0px;
    margin: 0 0 0 0;
    background: radial-gradient(circle farthest-side, rgba(255, 255, 255, 0.45), transparent);
    transform:translate(-50%, -50%);
    border-radius:50%;
}

.cool-border{
    border-image: linear-gradient(135deg, cyan, magenta) 1 !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.rotating-border{
    border-image: linear-gradient(0deg, cyan, magenta) 1 ;
    border-width: 1px !important;
    border-style: solid !important;
    animation: rotateBorder 10s linear infinite;
}
@keyframes rotateBorder {
    0%{
        border-image: linear-gradient(0deg, cyan, magenta) 1 ;
    }
    25%{
        border-image: linear-gradient(90deg, cyan, magenta) 1 ;
    }
    50%{
        border-image: linear-gradient(180deg, cyan, magenta) 1 ;
    }
    75%{
        border-image: linear-gradient(270deg, cyan, magenta) 1 ;
    }
    100%{
        border-image: linear-gradient(360deg, cyan, magenta) 1 ;
    }
}

#main-block{
    position: absolute;
    margin: 0 0 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.header-w-buttons{
    overflow: visible;
    position: relative;
    text-align: center;
    padding: 20px;

    background-color: rgba(35, 35, 35, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
    
    border: solid grey 1px;
    border-radius: 3px;
}
.main-block-button{
    position: relative;
    pointer-events: all;
    margin: 10px 5px 10px 5px;
    width: 30%;
    height: 4ch;
    background-color: rgba(146, 146, 146, 0.5);
    box-shadow: 0 0 5px lightcyan;
    border: 2px solid lightcyan;
    border-radius: 5px;
    font-size: medium;
    font-family: "Lucida Console", monospace;
    color: rgb(227, 255, 246);
    text-shadow: -1px 1px 4px black,
				  1px 1px 4px black,
				  1px -1px 4px black,
				  -1px -1px 4px black;
    transition-duration: 0.4s;
}
.main-block-button:hover{
    background-color: rgba(224, 255, 255, 0.7);
    transition-duration: 0.15s;
}
.main-block-button:active{
    background-color: rgba(224, 255, 255, 1);
}

@media screen and (max-width: 670px) {
    .main-block-button{
        width: 90%;
    }
}
@media screen and (max-width: 320px) and (max-height: 460px){
    .main-block-button{
        width: 90%;
        font-size: small;
    }
}


/*---Scroll Bar---*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 1); 
}
::-webkit-scrollbar-thumb {
    background-color: dimgrey;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}


/*---QR Code---*/
#qr-overlay{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
#qr-overlay > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - (min(min(80vw, 80vh), 300px)/2));
    width: min(min(80vw, 80vh), 300px);
}
#qr-overlay > p{
    text-align: center;
}

#qr-button{
    position:fixed;
    height: min(min(10vw, 10vh), 50px);
    width: min(min(10vw, 10vh), 50px);
    top: 5px;
    left: calc(100% - (min(min(10vw, 10vh), 50px)) - 5px);
    color:rgba(255, 255, 255, 0);
    border-radius: 50%;
    border:solid grey;
    background-color: lightgrey;
    background-image: url('../Pics/QR.png');
    background-size: contain;
    background-position: center;
}
#qr-button:hover{
    border: none;
}
